.dialog-button {
  text-transform: uppercase;
  background: var(--clr-primary);
  border: none;
  color: var(--clr-white);
  font-size: 8px;
  padding: 5px 3px;
  border-radius: var(--radius);
  margin-right: 5px;
  font-weight: 600;
}

.action-btn {
  padding: 8px 180px;
}

.dialog-message {
  margin: 30px;
  text-align: center;
}
